@model StudyViewModel
@{
    ViewData["Title"] = "Study Bird Voices";
}

<h1>Study Bird Voices</h1>
<hr/>
<p id="bird-name">You are listening to @Model.Bird.FullName</p>

<div style="width: min-content; display: table-cell;">
    <img style="max-height: 500px; width: auto;" src="@Model.PictureUrl"/>
    <audio style="width: 100%;" id="bird-audio" src="@Model.AudioUrl" controls autoplay></audio>
</div>

@if(Model.PictureLicense != "") {
    <p>Image provided through <a href="https://www.gbif.org/">GBIF</a>, license: @Model.PictureLicense</p>
} else {
    <p>No picture found :(</p>
}
@if(Model.AudioLicense != "") {
    <p>Audio provided by <a href="https://xeno-canto.org">xeno-canto</a>, license: @Model.AudioLicense</p>
}

<div>
    <button id="btn-yes" class="btn btn-success" onclick="answer(true)">I recognized this bird</button>
    <button id="btn-no" class="btn btn-danger" onclick="answer(false)">This bird is new to me</button>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script type="text/javascript">
    function answer(known) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("StudyAnswer")',
            data: {
                birdId: "@Model.Bird.Id",
                known: known,
                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val()
            },
            success: function () {
                window.location = '@Url.Action("Study")'
            }
        });
    }
    </script>
}