@using System.Globalization
@using src.Extensions;
@model src.Areas.ActiviyProtocol.Models.ActivityProtocol

@{
    ViewData["Title"] = "Details";

    CultureInfo.CurrentCulture = new CultureInfo(User.GetCulture());
    CultureInfo.CurrentUICulture = new CultureInfo(User.GetCulture());
    var timeZone = TimeZoneInfo.FindSystemTimeZoneById(User.GetTimeZone());
}

<h1>Details</h1>

<div>
    <h4>@TimeZoneInfo.ConvertTimeFromUtc(Model.Date, timeZone).ToString("D", CultureInfo.CurrentCulture)</h4>
    @if(Model.Entries.Count > 0) {
        <hr />
        <dl class="row">
            @foreach(var entry in Model.Entries) 
            {
                <dt class = "col-sm-2">@TimeZoneInfo.ConvertTimeFromUtc(entry.Time, timeZone).ToString("t", CultureInfo.CurrentCulture)</dt>
                <dd class = "col-sm-10">@Html.DisplayFor(model => entry.Description)</dd>
            }
        </dl>
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.JournalEntry)</dt>
        <dd class = "col-sm-10 multiline">@Html.DisplayFor(model => model.JournalEntry)</dd>
    </dl>
</div>
<div>
    <button class="btn btn-danger" id="btn-delete">Delete</button> |
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@Html.AntiForgeryToken()

@section scripts {
    <script type="text/javascript">
        $(function(){
            $("#btn-delete").on("click", function(){
                if(confirm("Are you sure you want to delete this?")) {
                    $.post(
                        '@Url.Action("Delete")',
                        { id: @Model.Id, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() },
                        function() {
                            location.href = '@Url.Action("Index")';
                        }
                    );
                }
            });
        });
    </script>
}