@using System.Globalization;
@using Microsoft.Extensions.Primitives
@using src.Extensions;
@model IEnumerable<src.Areas.ActiviyProtocol.Models.ActivityProtocol>

@{
    ViewData["Title"] = "Activity Protocols";
    string searchQuery = Context.Request.Query["SearchQuery"];

    CultureInfo.CurrentCulture = new CultureInfo(User.GetCulture());
    CultureInfo.CurrentUICulture = new CultureInfo(User.GetCulture());
    var timeZone = TimeZoneInfo.FindSystemTimeZoneById(User.GetTimeZone());
}

<h1>Activity Protocols</h1>
<p>
    Welcome back, @User.Identity.Name!<br/>
    Why don't you <a asp-action="Create">add a new entry</a>?
</p>

<p> 
    Your Current Culture is @CultureInfo.CurrentCulture.DisplayName <br/>
    Your Time Zone is @timeZone.DisplayName
</p>

<div class="single-line-form">
    <form asp-action="Index" method="get">
        <input type="search" name="SearchQuery" class="form-control" value="@searchQuery"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
</div>
<!-- is this the best way to do this? -->
@if(searchQuery != StringValues.Empty && searchQuery != "") {
    <a asp-action="Index" class="btn btn-primary margin8">
        Return to full list
    </a>
}
<table class="table fixed-table">
    <thead>
        <tr>
            <th style="width: 100px;">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="clickable-row" onclick="go_to_details(@item.Id)">
            <td>
                @TimeZoneInfo.ConvertTimeFromUtc(item.Date, timeZone).ToString("d", CultureInfo.CurrentCulture)
            </td>
            <td class="text-ellipsis">
                @Html.DisplayFor(modelItem => item.JournalEntry)
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary margin8">Create new</a>

@section scripts {
    <script type="text/javascript">
        function go_to_details(id) {
            window.location = `/ActivityProtocol/Details/${id}`;
        }
    </script>
}