@model src.Models.ActivityProtocol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Date.ToString("D")</h4>
    @if(Model.Entries.Count > 0) {
        <hr />
        <dl class="row">
            @foreach(var entry in Model.Entries) 
            {
                <dt class = "col-sm-2">@entry.Time.ToString("t")</dt>
                <dd class = "col-sm-10">@Html.DisplayFor(model => entry.Description)</dd>
            }
        </dl>
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.JournalEntry)</dt>
        <dd class = "col-sm-10 multiline">@Html.DisplayFor(model => model.JournalEntry)</dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
