@using Microsoft.Extensions.Primitives
@model IEnumerable<src.Models.ActivityProtocol>

@{
    ViewData["Title"] = "Activity Protocols";
    string searchQuery = Context.Request.Query["SearchQuery"];
}

<h1>Activity Protocols</h1>
<p>
    Welcome back, @User.Identity.Name!<br/>
    Why don't you <a asp-action="Create">add a new entry</a>?
</p>
<div class="single-line-form">
    <form asp-action="Index" method="get">
        <input type="search" name="SearchQuery" class="form-control" value="@searchQuery"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>
</div>
<!-- is this the best way to do this? -->
@if(searchQuery != StringValues.Empty && searchQuery != "") {
    <a asp-action="Index" class="btn btn-primary margin8">
        Return to full list
    </a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalEntry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary margin8">Create new</a>